/*FONTE*/

@font-face {
  font-family: 'FeatherBold';
  src: url('../assets/Feather\ Bold.ttf');
}

body{
  font-family: 'FeatherBold', sans-serif;
}


/* INICIO DA HEADER*/

/*SLIDESHOW*/
.slideshow-container{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slideshow_text{
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -30%);
    color: white;
    z-index: 10;
}

.slideshow_button button{
    margin: 15px;
    padding: 12px 24px;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.slideshow_button_left {
  background-color: #0077ff;
  color: white;
}

.slideshow_button_right {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.slide_image {
  display: none;
}

.slide_image img {
  width: 100%;
  height: auto;
}

.slideshow_pontos {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  text-align: center;
  width: 100%;
}

/*SLIDESHOW PONTOS*/

.ponto {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 6px;
  background-color: #ffffff4d; 
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border: 1px solid #68b3fa;
}

.ponto:hover {
  background-color: #5072f9cc; 
}

.ponto.ativo {
  background-color: #3AA0FF; 
  box-shadow: 0 0 8px #8dc1f2; 
}

/* FIM DA HEADER*/